{erl_opts, [no_debug_info]}.

{deps, [
  {lfe, {git, "http://github.com/rvirding/lfe", {tag, "2.1.2"}}}
]}.

{plugins, [
  {rebar3_lfe, {git, "http://github.com/lfe/rebar3", {tag, "0.4.8"}}}
]}.

{escript_incl_apps, [lfe, '2023']}.
{escript_main_app, '2023'}.
{escript_name, '2023'}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
